body {
	min-height: 100vh;
}


header {
	text-align: center;

	padding: var(--spacing-extralarge);
	margin-bottom: var(--spacing-extralarge);
	border-bottom: 0.1875rem solid var(--cor-primaria-escuro);

	background: linear-gradient(45deg, var(--cor-primaria), var(--cor-secundaria));
	color: var(--cor-texto-branco);

	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);

	transition: background-color var(--transition-color);
}
header > h1 {
	font-size: clamp(2.5rem, 5vw + 1rem, 3rem);
	margin: 0;
}


main {
	max-width: 50rem;
	width: 100%;
	margin: 0 auto;

	padding: 5rem;
	border-radius: 1rem;

	background-color: var(--cor-fundo-primario);
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);

	transition: background-color var(--transition-color);
}


form {
	width: 100%;
}
form h2 {
	text-transform: uppercase;
	text-align: center;

	padding: 10px;
	margin-bottom: 20px;
	border-radius: 0.625rem;

	font-size: clamp(1.5rem, 3vw + 1rem, 2rem);

	background-color: var(--cor-primaria);
	color: var(--cor-texto-branco);

	text-align: center;
}


.div-botao {
	display: flex;
	gap: 5rem;

	width: 100%;
}


.double {
	display: flex;

	width: 100%;
	gap: 2rem;
}
.double > * {
	flex: 1;
}